@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root{
    --cor-primaria: #200001;
    --cor-secundaria: #f2efe9;
    --cor-fundo: #fffcf6;
    --cor-preco: #F90000;
    --cor-texto1: #FFFFFF;
    --cor-texto2: #000000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
}

.cabecalho{
    padding: 3vh 0;
    background-color: var(--cor-primaria);
    color: var(--cor-texto1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra_nav{
    padding: 3vh 0;
    background-color: var(--cor-primaria);
    color: var(--cor-texto1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px
}

.barra_nav a{
    text-decoration: none;
    color: var(--cor-texto1);
}

.container-imagem {
    width: 100%; /* Define a largura do contêiner para ocupar toda a largura da página */
    height: 65vh; /* Define a altura do contêiner conforme necessário */
    background-image: url('sets/tacas.jpeg');
    background-size: 100% auto; /* Ajusta a largura da imagem para ocupar toda a largura do contêiner e mantém a altura proporcional */
    background-position: center;
}

.secao-compras{
    height: 180vh;
    display: flex; /* alterado de block para flex */
    flex-direction: column; /* mantém os itens em coluna */
    justify-content: center;
    gap: 5%;
}

.secao-compras__titulo{
    margin-left: 14.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.secao-compras__produtos{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4.5%;
}

.secao-compras__produtos__produto{
    width: 20.8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer{
    background-color: var(--cor-primaria);
    padding: 10vh;
    color: var(--cor-texto1);
    display: flex;
    gap: 40px;
}

footer h2{
    font-size: 3em;
}

footer p{
    align-self: flex-end; /* Alinha o próprio item no final do container */
    margin-bottom: 8px;
}

.add-carrinho{
    height: 7%;
    background-color: var(--cor-primaria);
    color: var(--cor-texto1);
    justify-content: center;
    align-items: center;
    display: flex;
}

.vinho-box{
    background-color: var(--cor-secundaria);
    height: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vinho-box__imagem{
    width: 95%;
    margin-top: -40px;
}

.nome-vinho{
    padding: 2.5% 0 0.5% 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.preco{
    padding: 0.5% 0 2.5% 0;
    color: var(--cor-preco);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.add-carrinho_text{
    font-family: 'Montserrat', sans-serif;
}